<h1>All Recipes</h1>

<form method="get">
  <%= text_field_tag :q, params[:q], autofocus: true, class: "form-control" %>
</form>

<ul class="recipes">
  <% @recipes.each do |recipe| %>

    <li class="recipe">
      <div class="recipe-summary">
        <span class="recipe-name"><%= link_to recipe.name, recipe %></span>
        <p class="recipe-snippet"><%= snippet recipe %></p>
      </div>
      <%= source_of recipe %>
    </li>

  <% end %>
</ul>

<script type="text/javascript">
  $(function() {
    $('#q').focus().select();
  });
</script>
