<h1>
  New recipe

  <span class="tip">
    You can also import a recipe from any recipe site with
    <%= link_to "the Chrome extension", chrome_extension_url %> or with this bookmarklet:
    <%= link_to "Add Recipe", bookmarklet_url, class: "bookmarklet" %>.
    Just drag the link to your bookmarks bar.
  </span>
</h1>


<%= render "form" %>

<%= link_to "Back", my_recipes_path unless mobile_app? %>
