@import "variables";

.navbar {
  .navbar-toggler {
    border: none;
  }

  .fa-bars {
    color: $navbar-grey;
  }

  .navbar-brand {
    color: $navbar-grey;
  }

  .dropdown-item {
    &:hover {
      background-color: inherit;
    }
  }

  .avatar {
    margin: 0 0 0 1em;
  }
}
