@import "variables";

.form-horizontal .control-label { padding-right: 0; }

form { clear: both; }

textarea {
  min-height: 12em;
}

label {
  font-weight: 700;
  cursor: pointer;
}

.bootstrap-tagsinput {
  width: 100%;
  margin-bottom: 0;

  border: $input-border;
  border-radius: $input-border-radius;
  box-shadow: none;
}
}
