@import "variables";

body {
  padding: $header-height 0 2rem;
}

nav + .container {
  margin-top: 2rem;
}

b, strong {
  font-weight: 900;
}

h4, label.control-label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875em;
}

.brand-name {
  font-size: 1.25em;
  font-weight: 200;
}

h1 {
  font-size: 1.66em;
  font-weight: 900;
  line-height: 1;
  margin: 0 0 1rem;

  &.snug { margin-bottom: 0; }

  .tip { display: none; }
}

@media only screen and (min-width : 768px) {
  h1 .tip {
    display: block;
    font-size: 14px;
    line-height: normal;
    max-width: 24em;
    float: right;
    font-weight: 400;
    margin: 0 0 2em 2em;
  }
}

h4 {
  margin-top: 4em;
}

img.avatar {
  border-radius: 999em;
}

.container {
  max-width: $main-max-width;
}

@media (min-width: 768px) {
  .container.with-menu-plan {
    max-width: none;
    padding-left: $menu-plan-width + 2rem;
    padding-right: 2rem;
  }
}


main {
  max-width: $main-max-width;
}

@media (max-width: 440px) {
  .container {
    padding-right: 2em;
    padding-left: 2em;
  }
}
