@import "variables";

body {
  padding: 90px 0 24px;
}

.label {
  padding: .1em .3em .2em;
  font-weight: 500;
}

h4, label.control-label {
  text-transform: uppercase;
  color: #999;
  font-weight: 500;
  font-size: 14px;
}

.brand-name {
  font-size: 1.25em;
  font-weight: 200;
}

h1 {
  font-weight: 200;
  line-height: 1;

  &.snug { margin-bottom: 0; }

  .tip {
    font-size: 14px;
    line-height: normal;
    max-width: 24em;
    float: right;
    font-weight: 400;
    margin: 0 0 2em 2em;
  }
}

h4 {
  margin-top: 2em;
}

.navbar {
  a {
    display: inline-block;
    color: $navbar-grey;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  .navbar-brand {
    color: $navbar-grey;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }


  .avatar {
    margin: 0 0 0 1em;
  }
}

img.avatar {
  border-radius: 999em;
}

.container {
  max-width: 960px;
  max-width: 800px;
}

@media (max-width: 440px) {
  .container {
    padding-right: 2em;
    padding-left: 2em;
  }
}
