@import "variables";

body {
  padding: 90px 0 24px;
}

b, strong {
  font-weight: 900;
}

h4, label.control-label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875em;
}

.brand-name {
  font-size: 1.25em;
  font-weight: 200;
}

h1 {
  font-size: 1.66em;
  font-weight: 900;
  line-height: 1;
  margin: 0 0 1rem;

  a {
    font-size: 1rem;
    font-weight: normal;
  }

  &.snug { margin-bottom: 0; }

  .tip { display: none; }
}

@media only screen and (min-width : 768px) {
  h1 .tip {
    display: block;
    font-size: 14px;
    line-height: normal;
    max-width: 24em;
    float: right;
    font-weight: 400;
    margin: 0 0 2em 2em;
  }
}

h4 {
  margin-top: 2em;
}

.navbar {
  .navbar-toggler {
    border: none;
  }

  .fa-bars {
    color: $navbar-grey
  }

  a {
    display: inline-block;
    color: $navbar-grey;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  #menuPlanDropdown {
    color: $navbar-grey
  }

  .menu-plan-dropdown {
    .nav-photo {
      width: 2em;
    }

    .dropdown-item {
      margin-bottom: 0;
      padding: .5rem;
    }
  }

  .navbar-brand {
    color: $navbar-grey;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }


  .avatar {
    margin: 0 0 0 1em;
  }
}

img.avatar {
  border-radius: 999em;
}

.container {
  max-width: 960px;
  max-width: 800px;
}

@media (max-width: 440px) {
  .container {
    padding-right: 2em;
    padding-left: 2em;
  }
}
