.ratings, .metrics {
  table {
    th, td {
      white-space: nowrap;
    }

    th {
      font-size: 0.66em;
      font-weight: 500;
      text-indent: 1px;
      padding-right: 1em;
    }

    + table {
      margin-top: 0.25em;
    }
  }
}

ul.recipes {
  padding: 0;

  li {
    list-style: none;
    margin: 1.5em 0 3em;
    clear: both;
    position: relative;
  }
}

.recipe-name {
  font-size: 1.25em;
}

.recipe-snippet {
  max-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.33em;
}

@media (min-width: 768px) {
  // Don't keep expanding the container on wider views
  .container { width: 750px !important; }
}

@media (max-width: 599px) {
  ul.recipes {
    li { overflow: hidden; }
    .metrics { float: left; }
    .ratings { float: right; }
  }
}

@media (min-width: 600px) {
  ul.recipes {
    li {
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
    }

    .recipe-summary {
      flex-grow: 1;
    }

    .metrics {
      padding: 0.5em 0 0 2em;
    }

    .ratings {
      padding: 0.5em 0 0 2em;

      .rating-input {
        position: relative;

        .rating-clear {
          position: absolute;
          left: 100%;
          top: 0;
          margin: 2px 4px;
        }
      }
    }
  }
}

.recipe-author {
  font-size: 0.88em;
}

.recipe-created {
  font-weight: 500;
  color: #ccc;
}

.recipe-author + .metrics {
  float: right;

  tr {
    display: inline-block;
    margin: 0 0 0 1em;
  }
}
