@import "variables";

// List of Recipes on Phones
 $button-size: 48px;

ul.recipes {
  padding: 0;

  .recipe {
    list-style: none;
    position: relative;

    display: inline-block;
    break-inside: avoid;
    border-radius: 5px;
    margin: 2.5em 0;
    width: 100%;
  }

  .recipe-photo {
    max-width: 100%;
    margin: 0 0 0.66em;
    text-align: center;

    img {
      display: inline-block;
      border-radius: 5px;
      max-width: 100%;
      max-height: $mobile-max-photo-height;
    }
  }

  .recipe-source {
    font-size: 0.875em;
    color: #aaa;

    a { color: inherit; }
  }

  .rating-yumminess {
    float: right;

    .fa-heart {
      font-size: 14px;
    }
  }

  .recipe-name {
    font-size: 1.125em;
    margin: 0 0 0.5em;
    font-weight: 900;

    a, a:hover { color: inherit; }
  }

  .recipe-row .recipe-name {
    margin-right: 80px;
  }

  .recipe-tags {
    display: block;
    margin: -0.66em 0 0.5em;
  }

  .recipe-snippet {
    max-height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.33em;
    margin: 0 0 0.25em;
  }



  .recipe-menu-plan {
    button {
      width: $button-size;
      height: $button-size;
      border-radius: $button-size;
      overflow: hidden;
      font-size: 0;
      padding: 0;
      border: none;
      cursor: pointer;

      &:focus { outline: 0; }

      &::before {
        font-family: FontAwesome;
        display: inline-block;
        font-size: $button-size / 2;
        line-height: ($button-size - 6px);
        width: ($button-size - 6px);
        text-align: center;
        content: '\f00c';
        color: white;
      }
      &.menu-plan-remove-button {
        background: #8dce0a;

        @media (hover: hover) {
          &:hover {
            background: #f35827;
            &::before { content: '\f068'; }
          }
        }
      }
      &.menu-plan-add-button {
        background: #ddd;

        @media (hover: hover) {
          &:hover { background: #badb00; }
        }
        &::before { content: '\f067'; }
      }
    }
  }
}


// All Recipes (cards-style)

@media (min-width: 440px) {
  ul.recipes.recipe-cards {
    column-count: 2;
    column-gap: 1em;

    .recipe {
      margin: 1em 0 4px;
      padding: 0.5em;
    }
  }
}

@media (min-width: 720px) {
  ul.recipes.recipe-cards {
    column-count: 3;
  }
}


// My Recipes (list-style)

@media (max-width: 540px) {
  ul.recipes {
    .recipe-row {
      .recipe-summary {
        min-height: 80px; // room for menu-plan button
        padding-right: 60px;

        .rating-yumminess { margin-right: -60px; }
      }

      .recipe-menu-plan {
        position: absolute;
        right: 0;
        top: $mobile-max-photo-height; // size of photo
        margin-top: 40px;
      }
    }
  }
}

@media (min-width: 540px) {
  ul.recipes {
    .recipe-row {
      margin-bottom: -1.5em;
      display: flex;
      flex-direction: row;

      .recipe-photo {
        width: 10em;
        min-width: 10em;
        max-width: 10em;
        margin-right: 1em;
        margin-bottom: 0;
        text-align: right;

        img {
          display: inline-flex;
          max-width: 10em;
          max-height: 8.33em;
        }
      }

      .recipe-summary {
        flex-grow: 1;
      }

      .recipe-menu-plan {
        width: $button-size;
        margin-left: 2em;
      }
    }
  }
}
