@import "variables";

.navbar {
  .navbar-toggler {
    border: none;
  }

  .fa-bars {
    color: $navbar-grey;
  }

  .navbar-brand {
    color: $navbar-grey;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  .avatar {
    margin: 0 0 0 1em;
  }
}

.navbar-nav {
  color: $navbar-grey;
}
