@import "variables";

.photo {
  display: block;

  &.photo-placeholder {
    background: $light-gray;
  }

  &.uploadable {
    display: inline-block;
    border: $input-border;
    border-radius: $input-border-radius;
    padding: 3px;
    cursor: pointer;

    input[type="file"] { display: none; }

    img {
      max-width: 100%;
      max-height: 360px;
    }

    &:hover {
      border-color: $primary-color;
    }
  }
}
