@import "variables";

.form-horizontal .rating-input { padding: 8px 0 0 0; }

.rating-input {
  cursor: pointer;

  .fa-star {
    color: #5bc0de;
  }

  .fa-star-empty {
    color: #ddd;
    &::before { content: "\e006"; }
  }

  a.rating-clear {
    font-size: 0;
    width: 16px;
    color: #ddd;
    overflow: hidden;

    > i {
      font-size: 16px;
    }

    &:hover {
      text-decoration: none;
      color: $delete-red;
    }
  }
}

.rating .fa-heart {
  width: 1.125em;
  font-size: 14px;
}

.rating-yumminess .rating-input {
  .fa-star, .fa-star-empty {
    width: 1.125em;
    font-size: 14px;

    &::before { content: "\f004"; }
  }
}

.rating-1 .rating-value .fa, .rating-1 + .recipe-made b, .rating-input[data-value="1"] .fa-star { color: #f35827; }
.rating-2 .rating-value .fa, .rating-2 + .recipe-made b, .rating-input[data-value="2"] .fa-star { color: #fa851e; }
.rating-3 .rating-value .fa, .rating-3 + .recipe-made b, .rating-input[data-value="3"] .fa-star { color: #badb00; }
.rating-4 .rating-value .fa, .rating-4 + .recipe-made b, .rating-input[data-value="4"] .fa-star { color: #8dce0a; }
.rating-5 .rating-value .fa, .rating-5 + .recipe-made b, .rating-input[data-value="5"] .fa-star { color: #28bf37; }

span.rating {
  display: inline-block;
  position: relative;
  line-height: normal;

  .rating-range .fa { color: #ddd; }

  .rating-range, .rating-value { padding-left: 1px; }

  .rating-value {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
  }
}
