@import "variables";

#recipe_drawer_root {
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  width: $menu-plan-width;
  background: #4c4c4c;
  color: #a7a7a7;
  display: flex;

  .recipe-drawer-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-header {
    border-radius: unset;
    background: rgba(0,0,0,0.25);
    font-weight: 900;
    flex-shrink: 0;
    flex-grow: 0;
    color: white;
  }

  .list-group {
    flex-grow: 1;
    overflow-y: scroll;
  }

  .list-group-item {
    padding: 0;
    border: none;
    background: transparent;
    border-radius: unset;

    > a {
      display: block;
      padding: 0.66rem 1.33rem;
      line-height: 1.33em;
      color: inherit;
    }
  }
}

@media only screen and (max-width : 768px) {
  #recipe_drawer_root {
    display: none;
  }
}
