@import "variables";

section.recipe {
  max-width: 800px;
  margin: 0 auto;

  & > .photo {
    float: right;
    clear: right;
    margin: 0 0 2rem 2rem;
    max-width: 320px;
    max-height: 50vh;
    border-radius: 5px;

    &.photo-placeholder {
      width: 320px;
      height: 50vh;
    }
  }

  .recipe-menu-plan {
    float: right;
  }

  .ingredients {
    padding: 0;

    li {
      list-style: none;
      padding: 4px;
      border-bottom: 1px solid #efefef;
    }

    li:last-child { border-bottom: none; }
  }

  .recipe-metadata {
    font-size: 0.88em;
    line-height: 16px; // height of avatar
    margin-top: 0.25em;

    img.avatar { vertical-align: text-bottom; }

    .recipe-author, .recipe-created {
      white-space: nowrap;
    }

    .recipe-source {
      color: #aaa;
      white-space: nowrap;
      margin: 0.25rem 0;

      a { color: inherit; }
    }

    .recipe-made {
      margin: 0.25rem 0;
    }

    + h4 {
      margin-top: 2em;
    }
  }

  .ratings {
    td { padding-left: 0.5em; }
  }

  .recipe-history {
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin: 1.5em 0 0;
      padding: 0;
    }

    .date {
      line-height: 1.125;

      .weekday {
        display: block;
        font-size: 0.5em;
        font-weight: bold;
        color: #aaa;
        text-transform: uppercase;
        letter-spacing: 0.0625em;
      }
      .month, .day, .year {
        font-weight: 900;
      }
      .day::after { content: ','; }
    }
  }
}

@media (max-width: 440px) {
  section.recipe {
    padding: 2em 0;

    & > img.photo {
      float: none;
      border-radius: 5px;
      max-height: $mobile-max-photo-height;
      max-width: 100%;
      width: auto;
      height: auto;
      margin: 0 0 1em;
    }

    .rating .fa-heart,
    .rating-yumminess .rating-input .fa-star,
    .rating-yumminess .rating-input .fa-star-empty {
      font-size: 1.0625em;
      width: 1.88em;
      height: 1.88em;
      line-height: 1.88em;
      border-radius: 1em;
      text-align: center;
      margin: 4px .125em;
      color: white !important;
      border: 1px solid white;
      background: $light-gray;
    }

    a.rating-clear {
      width: 24px;
      display: inline-block;
      vertical-align: top;
      margin: 7px 5px;

      > i { font-size: 24px; }
    }

    .rating-yumminess .rating-input .fa-star-empty { background: #ddd; }
    .rating-yumminess.rating-1 .rating-value .fa, .rating-yumminess .rating-input[data-value="1"] .fa-star {
      background: $delete-red;
      box-shadow: 0 0 1px 1px rgba($delete-red, 0.75);
    }
    .rating-yumminess.rating-2 .rating-value .fa, .rating-yumminess .rating-input[data-value="2"] .fa-star {
      background: #fa851e;
      box-shadow: 0 0 1px 1px rgba(#fa851e, 0.75);
    }
    .rating-yumminess.rating-3 .rating-value .fa, .rating-yumminess .rating-input[data-value="3"] .fa-star {
      background: #badb00;
      box-shadow: 0 0 1px 1px rgba(#badb00, 0.75);
    }
    .rating-yumminess.rating-4 .rating-value .fa, .rating-yumminess .rating-input[data-value="4"] .fa-star {
      background: #8dce0a;
      box-shadow: 0 0 1px 1px rgba(#8dce0a, 0.75);
    }
    .rating-yumminess.rating-5 .rating-value .fa, .rating-yumminess .rating-input[data-value="5"] .fa-star {
      background: #28bf37;
      box-shadow: 0 0 1px 1px rgba(#28bf37, 0.75);
    }
  }
}

#add_preparation::after { display: none; }

.preparation-form {
  padding: 0.5em 1em;

  textarea {
    display: block;
    width: 100%;
    min-height: 6em;
  }
}
