.form-horizontal .control-label { padding-right: 0; }

.form-group { margin-bottom: 8px; }

textarea {
  min-height: 12em;
}

.bootstrap-tagsinput {
  width: 100%;
  margin-bottom: 0;
}

.ingredients {
  padding: 0;

  li {
    list-style: none;
    padding: 4px;
    border-bottom: 1px solid #efefef;
  }

  li:last-child { border-bottom: none; }
}

section.recipe {
  .photo {
    float: right;
    margin: 3em 0 3em 3em;
    max-width: 360px;
    max-height: 360px;
  }
}
