@import "variables";

$button-size: 1.33em;

#recipe_drawer_root {
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  width: $menu-plan-width;
  border-right: 1px solid $light-gray;
  display: flex;

  .recipe-drawer-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-header {
    border-radius: unset;
    font-weight: 900;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .list-group {
    flex-grow: 1;
    overflow-y: scroll;
  }

  .list-group-item {
    padding: 0;
    display: flex;
    border: none;

    > a {
      display: block;
      padding: 0.66rem 1.33rem;
      line-height: 1.33em;
    }

    a.recipe-link {
      flex-grow: 1;
    }

    a.remove-recipe {
      cursor: pointer;
      width: $button-size;
      height: $button-size;
      padding: 0;
      margin: (3em - $button-size) / 2;
      flex-shrink: 0;

      overflow: hidden;
      color: transparent;
      background: $delete-red;
      border-radius: $button-size;

      &::before {
        color: white;
        font-family: FontAwesome;
        font-size: 0.9em;
        line-height: 1.677em;
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        content: $minus-icon;
      }
    }
  }
}

@media only screen and (max-width : 768px) {
  #recipe_drawer_root {
    display: none;
  }
}
