<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <%= link_to (current_user ? my_recipes_path : root_path), class: "navbar-brand" do %>
      <span class="fa fa-cutlery"></span>
      <span class="brand-name">Recipes</span>
    <% end %>

    <div class="pull-right">
      <% if current_user -%>
        <%= link_to "Sign out", destroy_session_path %>
        <%= avatar_for(current_user, size: 36) %>
      <% else -%>
        <%= link_to "Sign in", new_session_path %>
      <% end -%>
    </div>
  </div>
</div>
